extends layout.pug

block content
    div.flex
        if error
            p.error Write something here!

        if success
            p.success Task created!

        if deleted
            if todos.length === 0
                p.deleted All tasks deleted!
            else
                p.deleted Task deleted!

    form.form(action='/create' method='POST')
        input.input(type='text' placeholder='Type your task here' name='todo')
        button.btn(class='fa-solid fa-plus')
    
    ul.todos
        if todos.length
            each todo in todos
                li.todo 
                    if todo.done 
                        a.done(href=`/${ todo.id }/update`) #{ todo.description }
                    else
                        a.undone(href=`/${ todo.id }/update`) #{ todo.description }
                    a.delete(class="fa-sharp fa-solid fa-trash" href=`/${ todo.id }/deleted`)
        else 
            p.todo Todo list is empty
    div.clearall
        p.cleartext You have #{todos.length} pending tasks
        a.delete.clear(href='/clear') Clear All Tasks